@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;     
}

.banner{
    background-image: url(./baannner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0;
}

#About{
   padding: 100px 0px;
}